<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-4" th:each="vo:${list}">
			    <div class="thumbnail">
			      <a th:href="@{/food/category_list(cno=${vo.cno})}">
			        <img th:src="${vo.poster}" alt="Lights" style="width:100%">
			        <div class="caption">
			          <p th:text="${vo.title}"></p>
			        </div>
			      </a>
			    </div>
		    </div>
		</div>
	</div>
</body>
</html>